
<div class="nav">
    <nav class="navMenuCards">
        <a href="{{ path('deck') }}">Kortlek</a>
        <a href="{{ path('shuffle') }}">Blandad Kortlek</a>
        <a href="{{ path('draw') }}">Dra kort</a>
        <a href="{{ path('deal') }}">Dra kort med spelare</a>
        <a href="{{ path('deck_with_jokers') }}">Kortlek med Jokrar</a>
        <a href="{{ path('json_deck') }}">Kortlek som JSON</a>
    </nav>
</div>
