<div class="holdem-title">
    <div class="iteminvisible">For CSS Flex</div>
    <div class="texas-holdem">
        <h1>Casino Hold’em</h1>
    </div>
    <div class="about-project">
        {% if app.user %}
            <a href="{{ path('app_user', {userId: app.user.id}) }}">Användare: {{ app.user.acronym }}</a>
        {% endif %}
        <a href="{{ app.user ? path('app_logout') : path('app_login') }}">{{ app.user ? "Logga ut" : "Logga in"}}</a>
        <a href="{{ path('about_project') }}">Om projektet</a>
    </div>
</div>