{% extends 'base_proj.html.twig' %}

{% block title %}Casino Hold’em{% endblock %}

{% block content %}

<div class="holdem-wrapper">
    {{ include('/project/_holdem_header.html.twig') }}
    {{ include('/project/_ai_info.html.twig') }}

    <div class="holdem-table">
        <div class="cards-wrapper">
            <div class="ai-cards">
                <div class="playingCards faceImages game21">
                    <ul class="ai-table">
                        {% for card in aiPlayerHand %}
                        <li>
                            <div class="card back">*</div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="table-cards">
                <div class="playingCards faceImages game21">
                    <ul class="table">
                        {% for card in boardCards %}
                        <li>
                            <div class="card rank-{{ card.rank }} {{ card.suit }}">
                                <span class="rank">{{ card.rank }}</span>
                                <span class="suit">&{{ card.suit }};</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="player-cards">
                <div class="playingCards faceImages game21">
                    <ul class="table">
                        {% for card in playerHand %}
                        <li>
                            <div class="card rank-{{ card.rank }} {{ card.suit }}">
                                <span class="rank">{{ card.rank }}</span>
                                <span class="suit">&{{ card.suit }};</span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {{ include('/project/_hand_odds.html.twig') }}
    </div>

    <div class="holdem-player">
        {{ include('/project/_player_info.html.twig') }}
        <div class="holdem-buttons">
            <h3>Syna eller lägg dig?</h3>
            <form action="{{ path('deal_river') }}">
                <input type="submit" value="Syna($200)" />
            </form>
            <form action="{{ path('fold') }}">
                <input type="submit" value="Lägg dig(-$200)" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
