{% extends 'base_proj.html.twig' %}

{% block title %}Casino Hold’em{% endblock %}

{% block content %}

<div class="holdem-wrapper">
    {{ include('/project/_holdem_header.html.twig') }}
    {{ include('/project/_ai_info.html.twig') }}

    <div class="holdem-table">
        <div class="ai-cards">

        </div>
        <div class="table-cards">
            <div class="info">
                {{ include('/project/markdown/info_texas_holdem.markdown.twig')|markdown_to_html }}
            </div>
            <div class="holdem-buttons-info">
                <form action="{{ path('deal_flopp') }}">
                    <input type="submit" value="Starta spelet" />
                </form>
            </div>
        </div>
        <div class="player-cards">

        </div>
    </div>

    {{ include('/project/_player_info.html.twig') }}
</div>
{% endblock %}
