{% extends 'base_proj.html.twig' %}

{% block title %}Uppdatera profil{% endblock %}

{% block content %}
    <div class="user-form-container">
        <h1>Uppdatera profil</h1>

        <form method="post">
            <fieldset>
                <label for="name">Namn</label>
                <input id="name" type="text" name="name" value="{{ app.user.name }}">

                <label for="email">E-post</label>
                <input id="email" type="text" name="email" value="{{ app.user.email }}">

                <label for="address">Adress</label>
                <input id="address" type="text" name="address" value="{{ app.user.address }}">

                <label for="phone">Telefon</label>
                <input id="phone" type="text" name="phone" value="{{ app.user.phone }}">

                <label for="work">Jobb</label>
                <input id="work" type="text" name="work" value="{{ app.user.work }}">

                <label for="imgpath">Bild(URL till bild)</label>
                <input id="imgpath" type="text" name="imgpath" value="{{ app.user.imgpath }}">

                <input type="submit" name="doit" value="Bekräfta">
            </fieldset>
        </form>
    </div>

{% endblock %}